@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding-top: 20px;
  background-color: #F7EFE5;
  font-family: 'Mulish', sans-serif;
  overflow-x: hidden;
  color: #7743DB;
}

.code-editor {
  background-color: #fffbf5;
  border-radius: 4px;
  box-shadow: 0 2px 5px #7743DB;
  max-width: 8000px;
  margin: 40px auto;
  padding: 20px;
}

.toolbar {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 20px;
}

.toolbar-button {
  display: inline-block;
  padding: 8px 12px;
  margin-right: 10px;
  border: none;
  border-radius: 4px;
  background-color: #7743DB;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.toolbar-button:hover {
  background-color: #7743DB;
}

.toolbar-button.active {
  background-color: #7743DB;
}

.code-container {
  display: flex;
}

.code-editor .code-container textarea{
  resize: vertical;
}

.code-textarea {
  flex: 1;
  width: 450px;
  height: 500px;
  padding: 10px;
  border: none;
  background-color: #F7EFE5;
  border: 2px solid rgb(203, 159, 229);
  color: black;
  font-family: 'Mulish', sans-serif;
  font-size: 14px;
  border-radius: 20px ;
}

.container-page{
  display: flex;
  gap: 50px;
}

#result {
  width: 700px;
  height: 500px;
  border: 2px solid rgb(203, 159, 229);
  background-color: #F7EFE5;
  border-radius: 20px ;
}

.result-button{
  display: inline-block;
  width:70px;
  height: 30px;
  margin-left: 320px;
  border: none;
  border-radius: 4px;
  background-color: #7743DB;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}


